.list {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem;
    justify-content: center;

    .container {
        margin: 0.5rem;
        .card {
            height: 100%;
            display: flex;
            .thumbnail {
                img {
                    width: 100%;
                }
            }
            .info {
                overflow: hidden;
                line-height: 1.5em;
                overflow-wrap: anywhere;
                .title {
                    line-height: 2em;
                    border-bottom: whitesmoke dotted 0.25em;
                    margin-bottom: 0.5em;
                }
                .desc {
                    word-break: keep-all;
                    white-space: pre-line;
                }
            }
        }
    }

    @media (min-width: 41em) or (width: 41em) {
        .container {
            flex: 0 1 50em;
            .card {
                max-width: 50em;
                border-radius: 1.1rem 2rem 0.5rem 2.1rem;
                .thumbnail {
                    width: 30em;
                    img {
                        border-radius: 1rem 0 0 2rem;
                        object-fit: cover;
                        height: 100%;
                        aspect-ratio: 1.91;
                    }
                }
                .info {
                    width: 100%;
                    padding: 0.5em 1em;
                }
            }
        }
    }
    @media screen and (max-width: 41em) {
        .container {
            width: 100%;
            .card {
                flex-direction: column;
                border-radius: 1.1rem 2.1rem 0.5rem 2rem;
                .thumbnail {
                    img {
                        border-radius: 1rem 2rem 0 0;
                        object-fit: contain;
                    }
                }
                .info {
                    padding: 0 1em 1em 1em;
                }
                .info.noimage {
                    padding-top: 0.5em;
                }
            }
        }
    }
}
