* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}

body {
    background-color: #073642;
    color: #657b83;
    font-family: "Share Tech", "BIZ UDゴシック";
}
