.container {
    max-width: 45em;
    animation: show 100ms ease-in forwards;

    opacity: 0;
    @keyframes show {
        100% {
            opacity: 1;
        }
    }

    .card {
        height: 100%;
        display: flex;
        .thumbnail {
            img {
                width: 100%;
                height: auto;
            }
        }
        .info {
            line-height: 1.5em;
            overflow-wrap: anywhere;
            .title {
                line-height: 2em;
                display: flex;

                .name {
                    flex-grow: 1;
                }
                .icons {
                    position: relative;

                    display: inline-flex;
                    justify-content: end;
                    flex-wrap: wrap;
                    text-wrap: nowrap;
                    column-gap: 0.5em;
                    margin-inline: 0.5em;
                    .icon {
                        .fa-solid {
                            opacity: 0.8;
                        }
                        .label {
                            opacity: 0.8;
                            margin-left: 0.25em;
                        }
                        &:hover .tooltip {
                            visibility: visible;
                        }
                        .tooltip {
                            opacity: 0.9;
                            visibility: hidden;
                            position: absolute;
                            z-index: 1;
                            width: max-content;

                            bottom: 80%;
                            left: 100%;
                            translate: -100% 0;

                            color: #93a1a1;
                            background-color: #002b36;
                            text-align: center;
                            border-radius: 1em;
                            margin: 0.5em;
                            margin-top: -0.25em;
                            padding-block: 0.25em;
                            padding-inline: 0.5em;
                        }
                    }
                }
            }
            hr {
                color: currentColor;
                border: none;
                border-top: dotted 0.25em;
                margin-inline: 0.5em;
                margin-bottom: 0.5em;
            }
            .desc {
                word-break: keep-all;
                white-space: pre-line;
            }
        }
    }

    @media screen and (width > 45em) {
        .card {
            max-width: 40em;
            border-radius: 1.1rem 2rem 0.5rem 2.1rem;
            .thumbnail {
                width: 30em;
                img {
                    border-radius: 1rem 0 0 2rem;
                    object-fit: cover;
                    height: 100%;
                    aspect-ratio: 1.91;
                }
            }
            .info {
                width: 100%;
                margin-block: 0.25em;
                .title,
                .desc {
                    margin-inline: 1em;
                }
                &.noimage {
                    .title {
                        margin-left: 1.5em;
                    }
                    .desc {
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
    }

    @media screen and (width <= 45em) {
        .card {
            flex-direction: column;
            border-radius: 1.1rem 2.1rem 0.5rem 2rem;
            .thumbnail {
                img {
                    border-radius: 1em 2em 0 0;
                    object-fit: cover;
                    max-height: 10em;
                }
            }
            .info {
                margin-bottom: 0.5em;
                margin-inline: 0.5em;
                .title {
                    margin-left: 0.5em;
                }
                .desc {
                    margin-inline: 0.5em;
                }
            }
            .info.noimage {
                margin-top: 0.5em;
            }
        }
    }
}
